In [ ]:
import pandas as pd
import numpy as np

# Series

In [ ]:
mylist = [10,20,30,40]
ps1 = pd.Series(mylist)
print(type(ps1))
ps1

In [ ]:
ps2 = pd.Series(mylist, index=['Tata','Birla','Adani','Infy'])
print(ps2)
print(ps2.index)
print(ps2.ndim)
print(ps2.shape)
print(ps2.dtype)

In [ ]:
md1 = {'Tata':100, 'Wipro':200, 'TCS':300, 'HCL':400}
ps3 = pd.Series(md1)
ps3

Series Access

In [ ]:
md1 = {'Tata':100, 'Wipro':200, 'TCS':300, 'HCL':400, 'Infy':500, 'Adani':600}
ps3 = pd.Series(md1)
ps3

In [ ]:
ps3[0]

In [ ]:
ps3['Tata']

In [ ]:
ps3[-1]

In [ ]:
ps3['HCL']

In [ ]:
ps3[1:4]   #  1,2,3

In [ ]:
ps3['Wipro': 'Adani']

In [ ]:
ps3['Wipro': 'Adani':2]

In [ ]:
ps3[ ['HCL', 'Adani', 'Tata'] ]

In [ ]:
ps3[ [0,-1,3]]

In [ ]:
ps3 > 300

In [ ]:
ps3[ps3>300]

In [ ]:
ps3[ (ps3 > 400) |  (ps3 < 300)]

Series Operations

In [ ]:
ps3

In [ ]:
ps3 + 5

In [ ]:
ps3.max()

In [ ]:
ps3.min()

In [ ]:
ps3.mean()

In [ ]:
ps3

In [ ]:
ps3.median()

In [ ]:
ps3[ps3 == ps3.max()]

In [ ]:
ps3[ps3 <= ps3.mean()]

In [ ]:
ps3.describe()   #summary stats

In [ ]:
ps3.std()

In [ ]:
ps3.count()

In [ ]:
ps3.value_counts()

In [ ]:
ps3

In [ ]:
ps3[0] = 500

In [ ]:
ps3

In [ ]:
ps3.value_counts()

# DataFrames

create dataframes

        vol   rev  hq
tata     100  110  mum
birla    200  210  kol
adani    300  310  ahm
wipro    400  410  blr

In [ ]:
md = {'Vol':[100,200,300,400], 'Rev':[110,210,310,410], 'HQ':['Mum','Kol','Ahm','Blr']}
indexlist = ['Tata', 'Birla', 'Adani', 'Wipro']

df = pd.DataFrame(md, index=indexlist)
print(type(df))
df

In [ ]:
mylist1 = [
    [100,110,'Mum'],
    [200,210,'Kol'],
    [300,310,'Ahm'],
    [400, 410,'Blr']
]

col_labels = ['Vol','Rev','HQ']
index_labels = ['Tata','Birla','Adani','Wipro']
df = pd.DataFrame(mylist1, index=index_labels, columns=col_labels)
df

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)
print(df1.shape)
print(df1.ndim)
print(df1.info())
print(df1.describe())
print(df1.describe(include='all'))
print(df1.head())
print(df1.tail(3))
print(df1.index)
print(df1.columns)

In [ ]:
print(type(np.NaN))

In [ ]:
df1.info()

In [ ]:
df1.iloc[0,2] = np.nan

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

# Access of DF

Direct Accessing

In [ ]:
df1

In [ ]:
df1['Vol']   # **

In [ ]:
df1.Vol     ## this also is used

In [ ]:
df1['Vol']

In [ ]:
### df1[label.. it has to be a col label]
### df1[ [vector of labels] ....  it has to be col label vector]
### df1[ slice of labels....  it has to be index/row labels]
### df1[Boolean Series]

In [ ]:
df1[ ['Vol','EmpCnt','HQ']]

In [ ]:
df1['Bombay_Sporting' :  'Bangalore_Breweries'  ]

In [ ]:
df1.index

In [ ]:
df1['Bangalore_Breweries' :  'Bangalore_Breweries'  ]

In [ ]:
df2 = df1.reset_index()
print(df2)
df3 = df2.set_index('EmpCnt')
print(df3)

In [ ]:
df1

In [ ]:
x = df1.Catg == 'Pub' 
print(x)
print(type(x))

In [ ]:
df1[df1.Catg == 'Pub']

In [ ]:
df1[ (df1.Catg == 'Pub') &  (df1.HQ == 'Che')]

In [ ]:
df1

In [ ]:
df1.Catg.value_counts()

In [ ]:
df1.HQ.value_counts()

In [ ]:
df1.Vol.max()

In [ ]:
df1.Vol.min()

In [ ]:
df1[ df1.Vol  ==  df1.Vol.max()]

In [ ]:
df1.Vol.mean()

In [ ]:
df1.Rev.mean()

In [ ]:
df1.EmpCnt.mean()

In [ ]:
df1

In [ ]:
df1.EmpCnt.median()

In [ ]:
df1

In [ ]:
##pub companies whose vol sales is more than 925
df1[(df1.Catg=='Pub') & (df1.Vol>925)]

iLOC

In [ ]:
df1

###  df1.iloc [row_nindex]
###  df1.iloc [row_nindex,  col_nindex]

###  df1.iloc [row_nslice]
###  df1.iloc [row_nslice , col_nslice]

###  df1.iloc [ [vector of row_n_indices] ]
###  df1.iloc [ [vector of row_n_indices] , [vector of col_n_indices]]

###  combo of all of them

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0,-1]

In [ ]:
df1.iloc[1:5:2]

In [ ]:
df1.iloc[1:5:2,   2:4]

In [ ]:
df1.iloc[  [0,-1,3,-2] ]

In [ ]:
df1.iloc[  [0,-1,3,-2] ,   [0,-1,3]]

In [ ]:
df1.iloc[[1,4,6],2:5]

LOC  label based Accessing

In [ ]:
df1

###  df1.loc [row_label]
###  df1.loc [row_label,  col_label]

###  df1.loc [row_l_slice]
###  df1.loc [row_l_slice , col_l_slice]

###  df1.loc [ [vector of row_labels] ]
###  df1.loc [ [vector of row_labels] , [vector of col_label]]

###  combo of all of them

In [ ]:
df1.loc['Bangalore_Systems']

In [ ]:
df1.loc['Bangalore_Systems', 'Rev']

In [ ]:
df1.loc['Bombay_Sporting':'Chennai_Chemicals':2]

In [ ]:
df1.loc['Bombay_Sporting':'Chennai_Chemicals':2,  'Rev':'HQ':2 ]

In [ ]:
print(df1.index)
print(df1.columns)

In [ ]:
df1.loc[ ['Bombay_Sporting', 'Indi_Services', 'Chennai_Shipping']  ]

In [ ]:
df1.loc[ ['Bombay_Sporting', 'Indi_Services', 'Chennai_Shipping'] , ['HQ','Catg','EmpCnt','Rev'] ]

In [ ]:
df1

In [ ]:
df1.loc[['Bombay_Sporting','Kolkata_FMCG','Bangalore_Breweries','Indi_Services'],'Rev':'Catg']

In [ ]:
#give me only the HQ of all companies whose Vol sales is more than 925

In [ ]:
df1.HQ[df1.Vol>925]

In [ ]:
df1.loc[df1.Vol > 925,  'HQ']

In [ ]:
df1.loc[df1.Vol > 925,  ['HQ','Catg']]

# Inclass

In [ ]:
data = [
    ['A','Mumbai',40000],
    ['B','Pune',45000],
    ['A','Hyderabad',50000],
    ['C','Mumbai',90000],
    ['D','Pune',89000],
    ['A','Delhi',87000],
    ['D','Hyderabad',85000],
    ['A','Pune',78000],
    ['C','Mumbai',89000],
    ['B','Pune',70000]
]

cols = ['Store','Location','Sales']

df3 = pd.DataFrame(data, columns = cols)
print(df3)
md1 = {'A': 'SA', 'B':'SB', 'D':'SD', 'C':'SC'}
df3['Store'] = df3.Store.replace(md1)

In [ ]:
df3.Store.value_counts()

In [ ]:
columns = ["Science", "Maths", "English"]
marks = [[55, 78, 88], [93, 63, 83],[94, 74, 64]]
marks=np.array(marks)
mrk=pd.DataFrame(marks,columns=columns)
mrk

In [ ]:
md = {"Science": [55, 78, 88], "Maths":[93, 63, 83]}
pd.DataFrame(md)

In [ ]:
words_list = ['words', 'will', 'where', 'shall', 'we', 'will', 'shall', 'we', 'words', 'where', 'shall',
                    'will', 'there', 'wow', 'should', 'shall', 'we', 'where', 'should', 'where', 'will', 
                    'there', 'now', 'where', 'we', 'will', 'where', 'should', 'will', 'where']
df_words = pd.DataFrame(words_list,columns= ['word_list'])
print(df_words)
df_words['word_list'].value_counts()[:5]

In [ ]:
md = dict(zip(*np.unique(words_list, return_counts=True)))
ps1 = pd.Series(md)
ps1.sort_values(ascending=False)[:5]

In [ ]:
data = {'Name': ('Emma Larter', 'Mia Junior','Sophia Depp','James Smith'),'Age':(34,59,32,40)}
d3=pd.DataFrame(data)
Salary = [35000, 24000, 55000, 40000]
d3['Salary']=Salary
d3

In [ ]:
data = [
    ['A','Mumbai',40000],
    ['B','Pune',45000],
    ['A','Hyderabad',50000],
    ['C','Mumbai',90000],
    ['D','Pune',89000],
    ['A','Delhi',87000],
    ['D','Hyderabad',85000],
    ['A','Pune',78000],
    ['C','Mumbai',89000],
    ['B','Pune',70000]
]

cols = ['Store','Location','Sales']

df3 = pd.DataFrame(data, columns = cols)
print(df3)

In [ ]:
pd.pivot_table(df3, index='Store', values='Sales', aggfunc=[np.sum])

In [ ]:
pd.pivot_table(df3, index='Store', columns='Location',values='Sales', aggfunc=['count',np.sum])

In [ ]:
x=df3['Store'].value_counts().index.values
print(x)
for i in x:
    print(df3[df3['Store']==i].sum()[['Store','Sales']])

In [ ]:
import numpy as np
n34 = np.arange(12).reshape(3,4)
n43 = np.arange(12).reshape(4,3)
#m.n   n.k  = m.k
print(n34@n43)
print(n34.dot(n43))

# 15/Oct/2020

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df1['new_col'] = 0

In [ ]:
df1

In [ ]:
df1['Profit'] = df1['Rev'] - df1['Exp']

In [ ]:
df1

In [ ]:
df1.loc[df1.Vol > 950]

In [ ]:
df1.loc[df1.Vol > 950,  'Vol']

In [ ]:
df1.loc[df1.Vol > 950,  'Vol'] = 999

In [ ]:
df1

In [ ]:
df1['cola'] = 0

In [ ]:
df1

In [ ]:
df1['colb'], df1['colc'] = 10,20

# Sorting

sorting by Index

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df2 = df1.sort_index(axis=0, ascending=True,inplace=False) 
print(df2)

In [ ]:
df2 = df1.sort_index(axis=0, ascending=False,inplace=False) 
print(df2)

In [ ]:
df2 = df1.sort_index(axis=1, ascending=True,inplace=False) 
print(df2)

In [ ]:
df2 = df1.sort_index(axis=1, ascending=False,inplace=True) 
print(df2)

In [ ]:
df1

sorting by values

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df2 = df1.sort_values(by='Vol', axis=0, ascending=True, inplace=False)
print(df2)

In [ ]:
df2 = df1.sort_values(by=['Vol','Rev'], axis=0, ascending=[False,False], inplace=False)
print(df2)

In [ ]:
df2 = df1.sort_values(by=['Vol','Rev'], axis=0, ascending=[False,True], inplace=False)
print(df2)

In [ ]:
df2 = df1.sort_values(by=['Catg','HQ','Vol'], axis=0, ascending=[False,True,True], inplace=False)
print(df2)

In [ ]:
df1.Catg.value_counts()

In [ ]:
df1

In [ ]:
df2 = df1.sort_values(by='Bangalore_Breweries', axis=1, ascending=True, inplace=False)
print(df2)  #error...

In [ ]:
df1

In [ ]:
df1[['Vol','Rev','Exp','EmpCnt']]

In [ ]:
df2 = df1[['Vol','Rev','Exp','EmpCnt']].sort_values(by='Bangalore_Breweries', axis=1, ascending=True, inplace=False)
print(df2)

In [ ]:
df2 = df1[['Vol','Rev','Exp','EmpCnt']].sort_values(by='Bangalore_Systems', axis=1, ascending=True, inplace=False)
print(df2)

In [ ]:
df2 = df1.select_dtypes(include='number')
df2

In [ ]:
df2 = df1.select_dtypes(include='number').sort_values(by='Bangalore_Systems', axis=1, ascending=True, inplace=False)
print(df2)

In [ ]:
df2 = df1.select_dtypes(include='object').sort_values(by='Bangalore_Systems', axis=1, ascending=True, inplace=False)
print(df2)

In [ ]:
df2 = df1.select_dtypes(include='object').sort_values(by='Indi_Services', axis=1, ascending=True, inplace=False)
print(df2)

# Ranking

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df1.rank(axis=0, ascending=True)

In [ ]:
df1['Vol_Rank'] = df1.Vol.rank(axis=0, ascending=True, method='average')
df1

In [ ]:
df1['Vol_Rank'] = df1.Vol.rank(axis=0, ascending=False, method='min')
df1

In [ ]:
df1['Vol_Rank'] = df1.Vol.rank(axis=0, ascending=False, method='max')
df1

In [ ]:
df1

In [ ]:
df1['HQ_Rank'] = df1.HQ.rank(axis=0, ascending=True, method='dense')
df1

In [ ]:
df1.rank(axis=1, ascending=True)

In [ ]:
df1.select_dtypes(include='object')

In [ ]:
df1.select_dtypes(include='object').rank(axis = 1,ascending=True)

# File format Read/Write

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
df1.to_csv('f1.csv')

In [ ]:
df1.to_excel('f1.xlsx')

In [ ]:
df1.to_html('f1.html')

In [ ]:
df1.to_json('f1.json')

In [ ]:
df2 = pd.read_csv('f1.csv',index_col=0)
df2

In [ ]:
df2 = pd.read_excel('f1.xlsx',index_col=0)
df2

In [ ]:
df2 = pd.read_json('f1.json')
df2

In [ ]:
df2 = pd.read_html('f1.html',index_col=0)
df2 = df2[0]
df2

groupby - pivot_table  -- if possible.

# Insertion

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

In [ ]:
new_col_name = 'Sector'

In [ ]:
new_col_values = ['Bank', 'Entertainment', 'Retail','Services','Transport','IT','Retail', 'Retail', 'Services']

In [ ]:
len(new_col_values)

In [ ]:
df1.insert(loc=len(df1.columns), column=new_col_name, value=new_col_values, allow_duplicates=True)
df1

In [ ]:
df1.drop(columns='Sector',inplace=True)

In [ ]:
df1

In [ ]:
df = pd.DataFrame({
    'col_1': [0, 1, 2, 3],
    'col_2': [4, 5, 6, 7]
})
print(df)

dfnew = pd.DataFrame([[np.nan, 'dogs', 3]], index=df.index)
print(dfnew)
df[['column_new_1', 'column_new_2', 'column_new_3']] = dfnew
print(df)

# Inclass

In [ ]:
mum = { 'Store':['A','B','A','C','D','A','D','A','C','B'],'Location':['Mumbai','Pune','Hyderabad','Mumbai','Pune','Delhi','Hydrabad','Pune','Mumbai','Pune'], 'Sales':[40000,45000,50000,90000,89000,87000,85000,78000,89000,70000]}

df_mum = pd.DataFrame(mum)
print(df_mum)

df_mum['Location']
df_mum.Location

In [ ]:
df1

In [ ]:
dfg = df1.groupby(by='Catg')

In [ ]:
list(dfg)

In [ ]:
df1.groupby(by='Catg').sum()

In [ ]:
df1.groupby(by='Catg').max()

In [ ]:
df1['gby_vol_rank'] = df1.groupby(by='Catg')['Vol'].rank()

In [ ]:
df1

In [150]:
from sklearn.datasets import load_iris
df1 = load_iris()
dff= pd.DataFrame(df1['data'], columns= df1['feature_names'])
dff['Flower'] = df1['target']

In [151]:
dff

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [140]:
dff.Flower.value_counts()

2    50
1    50
0    50
Name: Flower, dtype: int64

In [141]:
md = {0:'Setosa', 1: 'versicolor', 2:'virginca'}

In [144]:
dff.Flower.replace(md, inplace=True)

In [145]:
dff

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Flower
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginca
146,6.3,2.5,5.0,1.9,virginca
147,6.5,3.0,5.2,2.0,virginca
148,6.2,3.4,5.4,2.3,virginca
149,5.9,3.0,5.1,1.8,virginca

In [152]:
def flow(n):
    if n==0:
        a= 'setosa'
    elif n==1:
        a= 'versicolor'
    else:
        a= 'virginica'
    return a
    


dff['Flower1'] = dff['Flower'].map(flow)   #[i for i in dff['Flower']])

In [153]:
dff

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Flower,Flower1
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica