In [ ]:
import pandas as pd
import numpy as np

# Series

In [ ]:
mylist = [10,20,30,40]
ps1 = pd.Series(mylist)
print(type(ps1))
ps1

In [ ]:
ps2 = pd.Series(mylist, index=['Tata','Birla','Adani','Infy'])
print(ps2)
print(ps2.index)
print(ps2.ndim)
print(ps2.shape)
print(ps2.dtype)

In [ ]:
md1 = {'Tata':100, 'Wipro':200, 'TCS':300, 'HCL':400}
ps3 = pd.Series(md1)
ps3

Series Access

In [ ]:
md1 = {'Tata':100, 'Wipro':200, 'TCS':300, 'HCL':400, 'Infy':500, 'Adani':600}
ps3 = pd.Series(md1)
ps3

In [ ]:
ps3[0]

In [ ]:
ps3['Tata']

In [ ]:
ps3[-1]

In [ ]:
ps3['HCL']

In [ ]:
ps3[1:4]   #  1,2,3

In [ ]:
ps3['Wipro': 'Adani']

In [ ]:
ps3['Wipro': 'Adani':2]

In [ ]:
ps3[ ['HCL', 'Adani', 'Tata'] ]

In [ ]:
ps3[ [0,-1,3]]

In [ ]:
ps3 > 300

In [ ]:
ps3[ps3>300]

In [ ]:
ps3[ (ps3 > 400) |  (ps3 < 300)]

Series Operations

In [ ]:
ps3

In [ ]:
ps3 + 5

In [ ]:
ps3.max()

In [ ]:
ps3.min()

In [ ]:
ps3.mean()

In [ ]:
ps3

In [ ]:
ps3.median()

In [ ]:
ps3[ps3 == ps3.max()]

In [ ]:
ps3[ps3 <= ps3.mean()]

In [ ]:
ps3.describe()   #summary stats

In [ ]:
ps3.std()

In [ ]:
ps3.count()

In [ ]:
ps3.value_counts()

In [ ]:
ps3

In [ ]:
ps3[0] = 500

In [ ]:
ps3

In [ ]:
ps3.value_counts()

# DataFrames

create dataframes

        vol   rev  hq
tata     100  110  mum
birla    200  210  kol
adani    300  310  ahm
wipro    400  410  blr

In [ ]:
md = {'Vol':[100,200,300,400], 'Rev':[110,210,310,410], 'HQ':['Mum','Kol','Ahm','Blr']}
indexlist = ['Tata', 'Birla', 'Adani', 'Wipro']

df = pd.DataFrame(md, index=indexlist)
print(type(df))
df

In [ ]:
mylist1 = [
    [100,110,'Mum'],
    [200,210,'Kol'],
    [300,310,'Ahm'],
    [400, 410,'Blr']
]

col_labels = ['Vol','Rev','HQ']
index_labels = ['Tata','Birla','Adani','Wipro']
df = pd.DataFrame(mylist1, index=index_labels, columns=col_labels)
df

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)
print(df1.shape)
print(df1.ndim)
print(df1.info())
print(df1.describe())
print(df1.describe(include='all'))
print(df1.head())
print(df1.tail(3))
print(df1.index)
print(df1.columns)

In [ ]:
print(type(np.NaN))

In [ ]:
df1.info()

In [ ]:
df1.iloc[0,2] = np.nan

In [ ]:
df1 = pd.read_csv('https://raw.githubusercontent.com/vcsgithub/vcsgithub.github.io/master/lds1.csv')
print(df1)

# Access of DF

Direct Accessing

In [ ]:
df1

In [ ]:
df1['Vol']   # **

In [ ]:
df1.Vol     ## this also is used

In [ ]:
df1['Vol']

In [ ]:
### df1[label.. it has to be a col label]
### df1[ [vector of labels] ....  it has to be col label vector]
### df1[ slice of labels....  it has to be index/row labels]
### df1[Boolean Series]

In [ ]:
df1[ ['Vol','EmpCnt','HQ']]

In [ ]:
df1['Bombay_Sporting' :  'Bangalore_Breweries'  ]

In [ ]:
df1.index

In [ ]:
df1['Bangalore_Breweries' :  'Bangalore_Breweries'  ]

In [ ]:
df2 = df1.reset_index()
print(df2)
df3 = df2.set_index('EmpCnt')
print(df3)

In [ ]:
df1

In [ ]:
x = df1.Catg == 'Pub' 
print(x)
print(type(x))

In [ ]:
df1[df1.Catg == 'Pub']

In [ ]:
df1[ (df1.Catg == 'Pub') &  (df1.HQ == 'Che')]

In [ ]:
df1

In [ ]:
df1.Catg.value_counts()

In [ ]:
df1.HQ.value_counts()

In [ ]:
df1.Vol.max()

In [ ]:
df1.Vol.min()

In [ ]:
df1[ df1.Vol  ==  df1.Vol.max()]

In [ ]:
df1.Vol.mean()

In [ ]:
df1.Rev.mean()

In [ ]:
df1.EmpCnt.mean()

In [ ]:
df1

In [ ]:
df1.EmpCnt.median()

In [ ]:
df1

In [ ]:
##pub companies whose vol sales is more than 925
df1[(df1.Catg=='Pub') & (df1.Vol>925)]

iLOC

In [ ]:
df1

###  df1.iloc [row_nindex]
###  df1.iloc [row_nindex,  col_nindex]

###  df1.iloc [row_nslice]
###  df1.iloc [row_nslice , col_nslice]

###  df1.iloc [ [vector of row_n_indices] ]
###  df1.iloc [ [vector of row_n_indices] , [vector of col_n_indices]]

###  combo of all of them

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0,-1]

In [ ]:
df1.iloc[1:5:2]

In [ ]:
df1.iloc[1:5:2,   2:4]

In [ ]:
df1.iloc[  [0,-1,3,-2] ]

In [ ]:
df1.iloc[  [0,-1,3,-2] ,   [0,-1,3]]

In [ ]:
df1.iloc[[1,4,6],2:5]

LOC  label based Accessing

In [ ]:
df1

###  df1.loc [row_label]
###  df1.loc [row_label,  col_label]

###  df1.loc [row_l_slice]
###  df1.loc [row_l_slice , col_l_slice]

###  df1.loc [ [vector of row_labels] ]
###  df1.loc [ [vector of row_labels] , [vector of col_label]]

###  combo of all of them

In [ ]:
df1.loc['Bangalore_Systems']

In [ ]:
df1.loc['Bangalore_Systems', 'Rev']

In [ ]:
df1.loc['Bombay_Sporting':'Chennai_Chemicals':2]

In [ ]:
df1.loc['Bombay_Sporting':'Chennai_Chemicals':2,  'Rev':'HQ':2 ]

In [ ]:
print(df1.index)
print(df1.columns)

In [ ]:
df1.loc[ ['Bombay_Sporting', 'Indi_Services', 'Chennai_Shipping']  ]

In [ ]:
df1.loc[ ['Bombay_Sporting', 'Indi_Services', 'Chennai_Shipping'] , ['HQ','Catg','EmpCnt','Rev'] ]

In [ ]:
df1

In [ ]:
df1.loc[['Bombay_Sporting','Kolkata_FMCG','Bangalore_Breweries','Indi_Services'],'Rev':'Catg']

In [ ]:
#give me only the HQ of all companies whose Vol sales is more than 925

In [ ]:
df1.HQ[df1.Vol>925]

In [ ]:
df1.loc[df1.Vol > 925,  'HQ']

In [ ]:
df1.loc[df1.Vol > 925,  ['HQ','Catg']]

# Inclass

In [ ]:
data = [
    ['A','Mumbai',40000],
    ['B','Pune',45000],
    ['A','Hyderabad',50000],
    ['C','Mumbai',90000],
    ['D','Pune',89000],
    ['A','Delhi',87000],
    ['D','Hyderabad',85000],
    ['A','Pune',78000],
    ['C','Mumbai',89000],
    ['B','Pune',70000]
]

cols = ['Store','Location','Sales']

df3 = pd.DataFrame(data, columns = cols)
print(df3)
md1 = {'A': 'SA', 'B':'SB', 'D':'SD', 'C':'SC'}
df3['Store'] = df3.Store.replace(md1)

In [ ]:
df3.Store.value_counts()

In [ ]:
columns = ["Science", "Maths", "English"]
marks = [[55, 78, 88], [93, 63, 83],[94, 74, 64]]
marks=np.array(marks)
mrk=pd.DataFrame(marks,columns=columns)
mrk

In [ ]:
md = {"Science": [55, 78, 88], "Maths":[93, 63, 83]}
pd.DataFrame(md)

In [ ]:
words_list = ['words', 'will', 'where', 'shall', 'we', 'will', 'shall', 'we', 'words', 'where', 'shall',
                    'will', 'there', 'wow', 'should', 'shall', 'we', 'where', 'should', 'where', 'will', 
                    'there', 'now', 'where', 'we', 'will', 'where', 'should', 'will', 'where']
df_words = pd.DataFrame(words_list,columns= ['word_list'])
print(df_words)
df_words['word_list'].value_counts()[:5]

In [ ]:
md = dict(zip(*np.unique(words_list, return_counts=True)))
ps1 = pd.Series(md)
ps1.sort_values(ascending=False)[:5]

In [ ]:
data = {'Name': ('Emma Larter', 'Mia Junior','Sophia Depp','James Smith'),'Age':(34,59,32,40)}
d3=pd.DataFrame(data)
Salary = [35000, 24000, 55000, 40000]
d3['Salary']=Salary
d3

In [ ]:
data = [
    ['A','Mumbai',40000],
    ['B','Pune',45000],
    ['A','Hyderabad',50000],
    ['C','Mumbai',90000],
    ['D','Pune',89000],
    ['A','Delhi',87000],
    ['D','Hyderabad',85000],
    ['A','Pune',78000],
    ['C','Mumbai',89000],
    ['B','Pune',70000]
]

cols = ['Store','Location','Sales']

df3 = pd.DataFrame(data, columns = cols)
print(df3)

In [ ]:
pd.pivot_table(df3, index='Store', values='Sales', aggfunc=[np.sum])

In [ ]:
pd.pivot_table(df3, index='Store', columns='Location',values='Sales', aggfunc=['count',np.sum])

In [ ]:
x=df3['Store'].value_counts().index.values
print(x)
for i in x:
    print(df3[df3['Store']==i].sum()[['Store','Sales']])

In [ ]:
import numpy as np
n34 = np.arange(12).reshape(3,4)
n43 = np.arange(12).reshape(4,3)
#m.n   n.k  = m.k
print(n34@n43)
print(n34.dot(n43))

TBD:

mutability of ps and df
sorting
ranking
read/write file formats.
inserting

groupby - pivot_table  -- if possible.